.app {
    background-color: #eee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        flex: 1;
    }

    footer{
        padding: 15px;

        a, a:visited, a:active {
            color: inherit;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}
